.apresentacao {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  gap: 60px;
}

.apresentacao-div-text h1 {
font-size: 100px;
  color: #ffffff;
  line-height: 1;
}
.apresentacao-div-text p {
  color: #b3b3b3;
  margin: 0;
  width: 100%;
}

.apresentacao-div-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  position: relative;
}

.apresentacao-text {
  padding: 20px;
  border-radius: 50px 10px;
  text-align: left;
}
span {
  margin-left: 10vw;
}

.photo {
  width: 22%;
  border: solid #e6e6e6 1px;
  border-radius: 5% 50%;
  background: #00ffff;
  background: radial-gradient(
    circle,
    rgba(0, 195, 255, 1) 25%,
    rgba(0, 255, 255, 1) 50%
  );
}

.borda {
  position: absolute;
  width: 40px;
}
.borda1 {
  top: 0px;
  left: 40px;
}
.borda2 {
  bottom: 0px;
  right: 40px;
  rotate: 180deg;
}
.bio {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bio-text {
  width: 60%;
  text-align: center;
}
.arrow {
  position: absolute;
  width: 60px;
  bottom: -80px;
  rotate: 90deg;
  opacity: 0.2;
}
